@import "tailwindcss";

.dark\:bg-gray-800 {
  @media (prefers-color-scheme: dark) {
    background-color: var(--color-gray-800);
  }
}

/* Deixa o texto do date input cinza quando vazio */
input[type="date"]::-webkit-datetime-edit {
  color: #9ca3af; /* Um cinza similar a um placeholder */
}

/* Deixa o texto com a cor normal quando uma data válida é inserida */
input[type="date"]:valid::-webkit-datetime-edit {
  color: inherit; /* Usa a cor de texto padrão do seu site */
}
